{% extends 'base.html' %}
{% block conteudo %}
    <div class="container">
        <di class="row">
            <div class="col-md-4 mt-5">
                <div class="border border-secondary rounded p-2">
                    <div style="background-color: #f4eada;" class="p-5 rounded">
                        <p class="fs-3">Baixar video & MP3 do YouTube</p>
                    </div>
                    <div class="d-flex justify-content-between p-2">
                        <img src="{{ url_for('static', filename='img/movie-icon.png') }}" style="width: 50px; height: 50px;" alt="">
                        <a href="/baixarVideo">
                            <img class="seta" src="{{ url_for('static', filename='img/next-icon.png') }}"  style="width: 50px; height: 50px;" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-5">
                <div class="border border-secondary rounded p-2">
                    <div style="background-color: #edf2e3;" class="p-5 rounded">
                        <p class="fs-3">Converter video em MP3</p>
                    </div>
                    <div class="d-flex justify-content-between p-2">
                        <img src="{{ url_for('static', filename='img/music-icon.png') }}"  style="width: 50px; height: 50px;" alt="">
                        <img class="seta" src="{{ url_for('static', filename='img/next-icon.png') }}"  style="width: 50px; height: 50px;" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-5">
                <div class="border border-secondary rounded p-2">
                    <div style="background-color: #edf2e3;" class="p-5 rounded">
                        <p class="fs-3">Remover fundo de Imagem</p>
                    </div>
                    <div class="d-flex justify-content-between p-2">
                        <img src="{{ url_for('static', filename='img/image-icon.png') }}"  style="width: 50px; height: 50px;" alt="">
                        <img class="seta" src="{{ url_for('static', filename='img/next-icon.png') }}"  style="width: 50px; height: 50px;" alt="">
                    </div>
                </div>
            </div>
        </di>
        <di class="row">
            <div class="col-md-4 mt-5">
                <div class="border border-secondary rounded p-2">
                    <div style="background-color: #ebeef4;" class="p-5 rounded">
                        <p class="fs-3">Encurtar <br/>URL/LINK</p>
                    </div>
                    <div class="d-flex justify-content-between p-2">
                        <img src="{{ url_for('static', filename='img/link-icon.png') }}"  style="width: 50px; height: 50px;" alt="">
                        <a href="/encurtarLink">
                            <img class="seta" src="{{ url_for('static', filename='img/next-icon.png') }}"  style="width: 50px; height: 50px;" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-5">
                <div class="border border-secondary rounded p-2">
                    <div style="background-color: #efecf4;" class="p-5 rounded">
                        <p class="fs-3">Gerador de QR Code de URL/LINK</p>
                    </div>
                    <div class="d-flex justify-content-between p-2">
                        <img src="{{ url_for('static', filename='img/qrcode-icon.png') }}"  style="width: 50px; height: 50px;" alt="">
                        <a href="/gerarQrCode">
                            <img class="seta" src="{{ url_for('static', filename='img/next-icon.png') }}"  style="width: 50px; height: 50px;" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-5">
                <div class="border border-secondary rounded p-2">
                    <div style="background-color: #f4eada;" class="p-5 rounded">
                        <p class="fs-3">Compartilhe</p>
                        <div class="row mt-2">
                            <img src="{{ url_for('static', filename='img/whats-icon.png') }}"  style="width: 80px;" alt="">
                            <img src="{{ url_for('static', filename='img/face-icon.png') }}"  style="width: 80px;" alt="">
                            <img src="{{ url_for('static', filename='img/insta-icon.png') }}"  style="width: 80px;" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </di>
    </div>
{% endblock  %}
